html{
    

}

h1{
    color: rgb(35, 178, 221);
    font-size: 200%;
    font-family:initial;
    text-align: center;
}


h2{
    color: aqua;
    font-size: large;
    font-family: initial;
    text-align: center;
    
}


form
{
    word-spacing: 50%;
   
}


fieldset
{
border-color: blue;


}

input
{
    align-items: center;
}

label
{
    color: brown;
    
}

#Obed
{
    text-align: center;
    color: rgb(166, 255, 0);
    text-justify: unset;
}