html{
    

}

h1{
    color: burlywood;
    font-size: 200%;
    font-family:initial;
    text-align: center;
}


h2{
    color: aqua;
    font-size: large;
    font-family: initial;
    text-align: center;
    
}